{% extends "template.html" %}

{% block titulo %} Novo Usuário {% endblock %}

{% load static %}

{% block style %} <link rel="stylesheet" href="{% static '_forms.css' %}"> {% endblock %}

{% block conteudo %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <h1>Novo Usuário</h1>
    <hr>
    <form action="{% url 'addUsuario' %}" method="post" class="form">
            <!-- campos renderizados -->
            {% csrf_token %} <!-- NÃO ESQUECER, DARÁ ERRO SEM ISSO, SERVE PARA IMPEDIR SQL INJECTION -->
            {{ form.as_p }}
            <button type="submit" class="form-button">
                Cadastrar
            </button>
    </form>
{% endblock %}